/* GENERAL */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #425b76;
  font-family: arial;
}

.large{
  padding: 0 15%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.button{
  border: 2px solid #ff7a59;
  border-radius: 5px;
  background: #ff7a59;
  color: white;
  padding: 10px;
}
/* HEADER */
/* top */
header{
  font-size: 13px;
}

header .top{
  background: #f5f8fa;
  border-bottom: 1px solid #425b76;

}

header .top::after{
  content: '';
  display: table;
  clear: both;
}

header .top .left{
  line-height: 30px;
  margin:10px 0;
  padding: 0 10px;
}

header .top .right{
  line-height: 30px;
  margin:10px 10px;
  padding: 0 10px;
}


header .top li:nth-child(6){
  color: #08a6be;
}

header .top li:nth-child(5){
  border: 2px solid #ff7a59;
  border-radius: 5px;
}

header .top li:nth-child(5) a{
  color: #ff7a59;
}

header .top .left{
  float: left;
}

header .top .right{
  float: right;
}

/* nav */
nav{
  background: white;
  position: relative;
}

nav ul::after{
  content: '';
  display: table;
  clear: both;
}

nav img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
nav li{
  line-height: 30px;
  float: right;
  margin: 15px;
}

/* MAIN */
/* presentation */

main .presentation{
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  height: 540px;
  border-bottom: 2px solid #33475b;
}

main .presentation .left{
  width: 50%;
}

main h1{
  padding-top: 40px;
  font-size: 45px;
}

main .presentation .button{
  display: inline-block;
}

main .presentation .buttom{
  font-size: 11px;
}

main .presentation .left > *{
  margin-bottom: 30px;
}


/* space */
main .empty{
  background-color: #76dcd0;
  height: 100px;
  border-bottom: 2px solid #33475b;

}


/* CENTRAL */
main .central{
  background: #f5f8fa;
}

/* top-central */
main .central .block-position{
  padding: 0 15%;
}

main .central .top-central{
  text-align: center;
}

main .central img{
  width: 20%;
  margin-top: 40px;
}

main .central h2{
  margin: 20px 0;
}

main .central p{
  margin: auto;
  width: 80%;
}

/* cenral-block */
main .central .block{
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(51,71,91,0.20);
  padding: 50px;
}

/* left */
main .central .block img{
  margin: 10px;
  width: 150px;
}

main .central .block .block-left{
  margin: 20px;
  width: 30%;
  text-align: center;
  display: inline-block;
}

main .central .block .button{
  display: inline-block;
  margin: 20px;
}

/* right */
main .central .block .block-right{
  width: 50%;
  margin: 20px;
  background: red;
  height: 100px;
  display: inline-block;
}




main .central .col-contenitor::after{
  content: '';
  display: table;
  clear: both;
}


main .central .col-contenitor .col{
  width: 25%;
  height: 100px;
  background: white;
  float: left;
  box-shadow: 0px 0px 10px 0px rgba(51,71,91,0.20);
  border-radius: 5px;
}

main .central .space{
  margin: 0 12.5%;
}

/* all direct children of section.central have this property */
main .central > div{
  margin-bottom: 30px;
}




/* results */
main .results{
  background: linear-gradient(45deg, rgba(0,164,189,1) 0%, rgba(0,188,165,1) 51%);
  height: 700px;
  color: white;
}

main .results h2,
main .results p{
  text-align: center;
}


/* grid */


main .results .grid{
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

main .results .grid .grid-element{
  width: 25%;
  height: 150px;
  background: red;
  border: 1px solid black;
  float: left;
}



/* invitation */
main .invitation{
  background: #f5f8fa;
  height: 500px;
}

main .invitation .invitation-top::after,
main .invitation .invitation-bottom::after{
  content: '';
  display: table;
  clear: both;
}

main .invitation .invitation-top{
  margin: 0 70px;
  background: green;
  height: 100px;
}

main .invitation .invitation-top .right{
  float: right;
  background: blue;
  width: 500px;
  height: 100%;
}



main .invitation .invitation-bottom{
  background: #cecece;
  height: 400px;
}

main .invitation .invitation-bottom .right{
  float: right;
  background: blue;
  width: 300px;
  height: 100%;
}







/* FOOTER */
footer{
  background: #33475b;
  height: 300px;
  color: #c2d5e0;
}


/* map */
footer .map::after{
  content: '';
  display: table;
  clear: both;
}

footer .map .footer-col{
  width:22%;
  height: 200px;
  background: white;
  float: left;
  margin-right: 3%;
}

/* languages */
footer .languages{
  margin-top: 20px;
  background: green;
  height: 50px;
}

/* credit */
footer .credit{
  height: 20px;
  background: red;
}
